/* components/cobertura/cobertura.module.css */

.inicioContainer {
    padding: 20px;
}

.header {
    margin-bottom: 20px;
}

.mainTitle {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--negro);
    margin-top: 5px;
}

.tableTitle{
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--negro); 
}

.detalles{
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

.tableContainer {
    display: flex;
    gap: 10px; /* Espacio entre las tablas y el panel de botones */
    flex-wrap: wrap; /* Permite que el contenido se ajuste en pantallas pequeñas */
}

.dualTableContainer {
    display: flex;
    gap: 16px; /* Espacio entre las tablas y el panel de botones */
    align-items: flex-start; /* Alinea las tablas en la parte superior */
    flex-wrap: wrap; /* Permite que el contenido se ajuste en pantallas pequeñas */
}

.tablePanel {
    flex: 1; /* Permite que cada tabla ocupe espacio equitativamente */
    min-width: 300px; /* Ancho mínimo para mantener la usabilidad */
}

.controlsPanel {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-self: center; /* Centra verticalmente los botones respecto a las tablas */
    min-width: 120px;
}

.leyendaLegal {
    font-size: 1.2rem;
}
