.usuariosPageContainer {
  padding: var(--content-padding);
}

.pageTitle {
  margin-bottom: var(--main-content-margin);
  color: var(--verdeOscuro);
  text-align: center;
}

.formContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--blanco);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  padding: 24px;
  border-radius: 8px;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.formTitle {
  color: var(--verdeOscuro);
  text-align: center;
}

.errorMessage {
  color: var(--naranja);
  text-align: center;
}

.formGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}

@media (min-width: 600px) {
  .formGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.formActions {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  margin-top: 16px;
}