/* src/styles/Globals.css*/

@tailwind base;
@tailwind components;
@tailwind utilities;
@import "react-querybuilder/dist/query-builder.css";

:root {
  --primary: lightgray;
  --secondary: gray;

    /*PALETA DE ART*/
      --naranja: #E4840C; 
      --verde: #648C34;

      --naranjaOscuro: #9c5906; 
      --verdeOscuro: #496726; 

      --naranjaClaro: #ffaf4c;
      --verdeClaro: #89ae65;
      
      --verdeClaroClaro: #cee9b3;

      --gris: gray;
      --grisClaro: #f7f7f7; /*#d1d1d1 !important*/
      --grisOscuro: #474747;
      
      --blanco: white;
      --negro: black;


  /*Colores del logo*/
  --naranjaLogo: #e7800f;
  --verde1Logo: #1b883f;
  --verde2Logo: #629331;
  
  --font: 'Outfit', sans-serif;

  /* Estilos específicos del menú */
  --font-size-menu: 1.1rem;
  --font-weight-menu: 700;
  --color-menu: white;
  --hover-color-menu: #414141;

  /* Variables para el layout */
  --navbar-height: 7rem;
  --sidebar-width-open: 350px;
  --breadcrumbs-height: 3.5rem; /* Altura estimada de las migas de pan */
  --content-padding: 20px;
  --main-content-margin: 5px;

  /* React-QueryBuilder */
  --rqb-spacing: 0.5rem;
  --rqb-border-width: 1px;
  --rqb-base-color: var(--verdeClaroClaro);
  --rqb-background-color: var(--naranjaClaro);
  --rqb-border-color: var(--naranjaOscuro);
  --rqb-border-style: solid;
  --rqb-border-radius: 0.25rem;

  --rqb-branch-indent: var(--rqb-spacing);
  --rqb-branch-width: var(--rqb-border-width);
  --rqb-branch-color: var(--rqb-border-color);
  --rqb-branch-radius: var(--rqb-border-radius);
  --rqb-branch-style: var(--rqb-border-style);
}

html {
  font-size: 62,5%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: 1.5rem;
  font-family: var(--font);
  line-height: 1.5;
}

img {
  max-width: 100%;
}

[class*="contenedor"] {
  max-width: 120rem;
  margin: 0 auto;
  width: 95%;
}
[class*="heading"] {
  font-size: 4rem;
  text-align: center;
  font-weight: 900;
  color: var(--primary);
  margin: 5rem 0;
}


/*
* Estas reglas CSS anulan los estilos predeterminados de Material-UI
* para asegurar que tus estilos de fuente y color se apliquen correctamente.
*/
.MuiListItemText-root .MuiTypography-root {
  font-size: 1.3rem !important;
  font-weight: 700 !important;
  color: white !important;
}