/* app/layout.module.css */

.mainLayout {
  display: flex;
  margin-top: 10rem;
  /* Este margen deja espacio para el navbar (7rem) y las migas de pan (3rem) */
}

.contentContainer {
  transition: margin-left 0.3s ease-in-out;
  flex-grow: 1; /* Ocupa el espacio restante */
}

.contentOpen {
  margin-left: 350px;
}

.contentClosed {
  margin-left: 100px;
}

.loadingContainer {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loadingText {
  font-size: 20px;
}