.usuariosPageContainer {
  padding: var(--content-padding);
}


.errorMessage {
  color: var(--naranja);
  text-align: center;
}

.formGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}

@media (min-width: 600px) {
  .formGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.formActions {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  margin-top: 16px;
}