/* components/Breadcrumbs.module.css */

.breadcrumbs ul {
  display: flex;
  list-style: none;
  padding: 10px 0;
  margin: 0;
  color: var(--grisOscuro); /* Color base de las migas de pan */
}

.breadcrumbs li {
  display: flex;
  align-items: center;
}

.breadcrumbs a {
  text-decoration: none;
  color: var(--grisOscuro); /* Color de los enlaces */
  font-weight: 500;
}

.breadcrumbs a:hover {
  color: var(--naranja); /* Color naranja al pasar el cursor */
  text-decoration: none;
}

.separator {
  margin: 0 8px;
  color: var(--gris); /* Color del separador */
}

/* Estilo para el último elemento (no un enlace) */
.breadcrumbs li:last-child span {
  color: var(--grisOscuro); /* Asegura que el último elemento sea gris oscuro */
  cursor: default;
}