/* components/Breadcrumbs.module.css */

.breadcrumbs ul {
  display: flex;
  padding: 8px 0;
  color: var(--gris); /* Color base de las migas de pan */
  font-weight: 600;
  font-size: 1.7rem;
}

.breadcrumbs li {
  display: flex;
  align-items: center;
}

.breadcrumbs a {
}

.breadcrumbs a:hover {
  color: var(--naranja); /* Color naranja al pasar el cursor */
  text-decoration: none;
}

.separator {
  margin: 0 8px;
  color: var(--gris); /* Color del separador */
}

/* Estilo para el último elemento (no un enlace) */
.breadcrumbs li:last-child span {
  color: var(--grisOscuro); /* Asegura que el último elemento sea gris oscuro */
  cursor: default;
}