/* components/Navbar.module.css */

.nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 7rem;
  background-color: var(--blanco);
  color: var(--negro);
  padding: 1rem;
  z-index: 20;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.container {
  display: flex;
  justify-content: space-between;
  margin: auto 3%;
}

.logoLink {
  height: 100%;
  display: flex;
  align-items: center;
  justify-self: start;
}

.searchContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-self: center;
  width: 20%;
}

.searchInput {
  background-color: var(--blanco);
  color: var(--negro);
  border-radius: 9999px;
  padding: 0.75rem 1.5rem 0.75rem 3rem;
  border: 1px solid var(--gris);
  outline: none;
  width: 100%;
  transition: box-shadow 0.2s ease-in-out;
  font-size: 1rem;
}

.searchInput:focus {
  box-shadow: 0 0 0 2px var(--naranja);
}

.searchIcon {
  position: absolute;
  left: 1rem;
  color: var(--naranja);
  font-size: 1.8rem;
}

.menu {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-self: end;
}

.menuItem {
  padding: 0.75rem;
  border-radius: 50%;
  transition: background-color 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.menuItem:hover {
  background-color: var(--naranjaClaro);
}

/* CAMBIO CLAVE: Quitamos el hover del iconButton y lo aplicamos al padre */
.iconButton {
  font-size: 2.5rem;
  color: var(--naranja);
  transition: color 0.2s ease-in-out;
}

/* CAMBIO CLAVE: Agregamos una nueva regla para cambiar el color del ícono dentro del menuItem en hover */
.menuItem:hover .iconButton {
  color: var(--blanco);
}

.menuLink {
  color: inherit;
  text-decoration: none;
  display: flex;
}