/* Sidebar.module.css */

.sidebar {
  font-size: 1.3rem;
  height: calc(100vh - var(--navbar-height) - var(--breadcrumbs-height));
  background-color: var(--verdeOscuro);
  color: #fff;
  transition: width 0.3s ease-in-out;
  z-index: 10;
  display: flex;
  flex-direction: column;
}

.sidebarOpen {
  width: var(--sidebar-width-open);
}

.sidebarClosed {
  width: 100px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 20px;
  gap: 1rem;
  cursor: pointer;
}

.headerOpen {
  background-color: var(--verdeClaro);
}

.headerText {
  font-weight: bold;
  font-size: 1.5rem;
  white-space: nowrap;
}

.listContainer {
  flex-grow: 1;
  overflow-y: auto;
}

.listItem {
  display: block !important;
}

.menuItemButton {
  min-height: 48px !important;
  padding: 0 20px;
  justify-content: center;
}

.menuItemButtonOpen {
  justify-content: initial;
  padding-left: 20px;
}

.menuItemButtonClosed {
  justify-content: center;
  padding: 0;
}

.submenuItem {
  padding-left: 40px;
}

.icon {
  color: white !important;
  font-size: 2rem;
  transition: color 0.2s;
}

.iconOpen {
  margin-right: 24px;
}

.iconClosed {
  margin: auto;
}

.linkTextVisible {
  opacity: 1;
}

.linkTextHidden {
  opacity: 0;
  white-space: nowrap;
}

.submenu {
  background-color: var(--verde);
}

.toggleButton {
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 3rem;
  transition: transform 0.3s;
}

.menuItemButton:hover {
  background-color: var(--verdeClaro) !important;
}