.shiftActions, .rule-remove, .ruleGroup-remove{
  background-color: var(--naranjaClaro) !important;
  border-radius: 4px;
  font-size: 1.3rem !important;
  line-height: 1.2rem !important;
}

/* Asegura el ancho mínimo para los botones de control (remover, shift) */
.shiftActions, .rule-remove, .ruleGroup-remove > button {
  min-width: 15px !important;
}

/* Ajusta el interlineado del toggle de negación .css-c0kzyl-MuiButtonBase-root-MuiToggleButton-root:not(.Mui-selected) { */
.ruleGroup-notToggle {
  padding: 6px !important; 
}

/* Asegura el ancho mínimo y padding para los botones de remover */
.rule-remove,
.ruleGroup-remove {
  min-width: 15px !important;
  padding: 3px 6px !important;
}

/* Estilo para los botones de añadir regla/grupo */
.ruleGroup-addRule, .ruleGroup-addGroup { 
  font-size: 1.2rem !important;
}

.ruleGroup-addRule{
  margin-left: 5% !important;
}


/* =================================================================
 * 2. Estilos de GRUPO y CABECERA (Fondo y Borde)
 * ================================================================= */

/* Estilo para los grupos de reglas (los contenedores principales) */
.queryBuilder .ruleGroup {
  /* Fondo del grupo de reglas */
  background-color: color-mix(in srgb, transparent, #ffaf4c 30%);
  /* Borde general del grupo de reglas */
  border-color: var(--naranjaOscuro);
  border-style: solid;
  /* Usando valores de variables para borde y radio, si están definidos */
  border-width: var(--rqb-border-width, 1px); 
  border-radius: var(--rqb-border-radius, 4px); 

  /* ** AÑADIDO: Indentación para crear el espacio para la línea vertical ** */
  padding-left: var(--rqb-branch-indent, 1rem); 
  margin: 0.5rem;
}


/* Ajuste de padding en header y reglas individuales para respetar el espaciado */
.queryBuilder .ruleGroup-header {
    padding: var(--rqb-spacing, 1rem) ;
}
.queryBuilder .rule {
    padding-left: var(--rqb-spacing, 1rem) ;
    padding-right: var(--rqb-spacing, 1rem) ;
}

/*
.queryBuilder-branches:dir(ltr) .rule::before{
    left: 0;
    top: calc(-1 * var(--rqb-spacing));
    height: calc(50% + var(--rqb-spacing));
    border-width: 0 0 var(--rqb-branch-width) var(--rqb-branch-width);
    border-color: var(--naranjaOscuro);
    border-style: var(--rqb-branch-style);
    content: "";
    width: var(--rqb-branch-indent);
    left: calc(-1 * (var(--rqb-branch-indent) + var(--rqb-branch-width)));
    border-radius: 0;
    position: absolute;
}*/  