/* src/utils/ui/table/DataTable.module.css */

/* Reutilización de variables CSS globales */
.tableContainer {
  margin-top: var(--main-content-margin);
}

.paper {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1) !important;
  border-radius: 8px !important;
}

.table {
  min-width: max-content;
}

.tableHead {
  background-color: var(--verde) !important;
}

.tableHeaderCell {
  color: var(--blanco) !important;
  font-family: var(--font) !important;
  font-weight: 700 !important;
  border-bottom: 2px solid var(--naranja) !important;
  text-transform: uppercase;
  transition: background-color 0.3s ease-in-out;
}

.tableHeaderCell:hover {
  background-color: var(--verdeClaro) !important;
}

.sortIcon {
  font-size: 1rem;
  color: var(--blanco);
  margin-left: 5px;
}

.tableRow:nth-of-type(odd) {
  background-color: var(--grisClaro) !important;
}

.tableRow:hover {
  background-color: #e0e0e0 !important;
}

.tableBodyCell {
  font-family: var(--font) !important;
  color: var(--grisOscuro) !important;
  border-bottom: 1px solid #e0e0e0 !important;
}

.noDataCell {
  text-align: center;
  padding: 20px;
  color: var(--gris);
  font-size: 1.2rem;
}

.paginationContainer {
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  color: var(--grisOscuro);
  font-family: var(--font);
}

.paginationContainer button {
  color: var(--naranja) !important;
}

.paginationContainer button:disabled {
  color: var(--gris) !important;
}

.filterInput {
  margin-bottom: 20px !important;
}

.filterInput input {
  font-family: var(--font) !important;
  color: var(--grisOscuro) !important;
}

.filterInput fieldset {
  border-color: var(--gris) !important;
}

.filterInput label {
  color: var(--gris) !important;
}

.filterInput:hover fieldset {
  border-color: var(--verde) !important;
}

.filterInput.Mui-focused fieldset {
  border-color: var(--verde) !important;
}

.loadingCell {
  text-align: center;
  padding: 20px;
}

/* Estilos de altura de fila y padding de celda/encabezado */
.compactCell { 
  padding: 2px 6px !important;
  font-size: 1.1rem !important;
}
.normalCell { 
  padding: 10px !important; 
  font-size: 1.4rem !important;
}
.compactHeader { 
  padding: 12px 8px !important;
  font-size: 1.3rem !important;
}
.normalHeader { 
  padding: 18px !important;
  font-size: 1.6rem !important;   
}

/* La nueva clase para las celdas seleccionadas */
.selectedCell {
  font-weight: bold !important;
  background-color: var(--verdeClaroClaro) !important;
}