/* app/ClientLayoutWrapper.module.css */

.mainLayout {
  display: flex;
  flex-direction: column;
}

.breadcrumbsContainer {
  padding: 0% 3%;
  background-color: var(--grisClaro);
  z-index: 11;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: var(--navbar-height); /* Usa la variable */
}

.contentWrapper {
  display: flex;
  flex-grow: 1;
}

.mainContentArea {
  padding: var(--content-padding);
  background-color: #fafcf7;
  border: 1px solid #ddd;
  border-radius: 8px;
  /* margin: 1% 1%; */
  flex-grow: 1;
  height: calc(100vh - var(--navbar-height) - var(--breadcrumbs-height) - (var(--main-content-margin)));
  overflow-y: auto;
  width: 90vw;
}

.loadingContainer {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loadingText {
  font-size: 20px;
}